.timeline {
  display: flex;
  flex-direction: row;
}

.timeline__left {
  display: flex;
  flex-direction: column;
  flex: 0.7;
}

.timeline__right {
  margin-top: 30px;
  flex: 0.4;
}

.timeline__left-top {
  display: flex;
  flex-direction: row;
}
